{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 2,
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "comma-dangle": [
          "error",
          "never"
        ],
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}