@import '../../variables.scss';

.formBlock {
    .ant-row {
        padding-top: 10px;

        &.contents {
            padding-top: 0
        }
    }

    &.showForm {

        .shownText {
            font-size: 14px;
            color: $primary-green-color1;
            font-family: $worksSansBold;
        }

        .headings,
        .contents,
        .ant-row {
            text-align: center;
        }
    }

    .heading {
        font-size: 16px;
        text-align: center;
        font-family: $poppinsBold;
        text-align: center;
    }

    .subHead {
        font-size: 16px;
        text-align: center;
        font-family: $poppinsBold;
        color: $primary-green-color2;
        text-align: center;
    }

    .customDropdown,
    .textbox {
        width: 90%;
        height: 40px;
        color: $primary-darkgreen-color1;

    }

    .customDropdown {
        &.circtuitDrop {
            width: 250px;
        }
    }

    .deleteButton {
        width: 110px;
        // border-radius: 0;
        background-color: #ec1c1c !important;
        border-color: #ec1c1c !important;

        // span[role="img"] {
        //     color: red;
        // }

    }

    .textRight {
        padding-right: 10px;
    }

    label {
        margin: 0;
        color: $primary-darkgreen-color1;
        font-size: 14px;
    }

    .filterButton {
        width: 100%;

        &.submitButton {
            width: 180px;
        }

        &[disabled] {
            background-color: $primary-grey-color2;
            color: $primary-grey-color;
            border-color: $primary-grey-color2;

            &:hover,
            &:focus,
            &:active {
                background-color: $primary-grey-color2;
                color: $primary-grey-color;
                border-color: $primary-grey-color2;
            }
        }
    }

    .buttons {
        text-align: right;
        padding-right: 5px;

        .filterButton {
            &[disabled] {
                background-color: $primary-grey-color2;
                color: $primary-grey-color;
                border-color: $primary-grey-color2;

                &:hover,
                &:focus,
                &:active {
                    background-color: $primary-grey-color2;
                    color: $primary-grey-color;
                    border-color: $primary-grey-color2;
                }
            }
        }
    }
}