@import "../../variables.scss";

* {
    background: transparent;
    --antd-wave-shadow-color: none;

    &:focus {
        --antd-wave-shadow-color: transparent;
        border: 0px transparent;
        outline: 0px transparent;
    }

    &::selection {
        --antd-wave-shadow-color: transparent;
        border: 0px transparent;
        outline: 0px transparent;
        background-color: $primary-green-color;
    }
}


body {
    background: #E5E5E5;
    font-family: #{$poppinsRegular};
    font-size: #{$base-font-size};
    max-width: #{$max-width};
    margin: 0 auto;

    .spinner {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 0;

        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;

        .ant-spin {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
    }

    .site-layout {
        main {
            display: flex;
        }
    }

    .ant-layout-sider-trigger {
        display: none;
    }



    .ant-menu-submenu-popup {
        .ant-menu-item {

            color: #fff !important;
        }

    }

    .ant-tooltip {
        &.ant-menu-inline-collapsed-tooltip {
            .ant-tooltip-inner {
                .imgBlock {
                    display: none;
                }
            }
        }
    }



    main {
        &.ant-layout-content {
            margin: 0;
        }

    }

}