@import '../../variables.scss';

.page {
    padding: 0px 10px;

    &.homePage {
        h2 {
            font-size: 1em;
            font-family: #{$poppinsBold};
            padding: 20px 40px;
            color: #{$primary-green-color};
        }

        .map {


            .column {
                padding: 20px;
                height: 300px;

                &:first-child {


                    .blocks {}
                }

                height: 300px;


                .blocks {
                    display: flex;
                    background-color: $primary-green-color3;
                    border-radius: 15px;
                    height: 300px;
                }
            }
        }
    }
}