@import './variables.scss';

.ant-btn-primary {
    background-color: $primary-darkgreen-color1;
    border-color: $primary-darkgreen-color1;
    width: 170px;
    font-family: $poppinsMedium;
    border-radius: 15px;

    &:active,
    &:focus,
    &:hover,
    &.closed {
        background-color: $primary-darkgreen-color1;
        border-color: $primary-darkgreen-color1;
    }


    &.newSButton {
        background-color: $primary-yellow-color1;
        border-color: $primary-yellow-color1;
        color: $primary-black-color1;
        cursor: not-allowed;

    }

    &.closedSButton {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        cursor: not-allowed;
    }

    &.rejectedSButton {
        background-color: $primry-red-color;
        border-color: $primry-red-color;
        color: #fff;
        cursor: not-allowed;
    }

    &.pendingSButton {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        cursor: not-allowed;
    }

    &.cancelSButton {
        background-color: $primary-grey-color;
        border-color: $primary-grey-color;
        color: #fff;
        cursor: not-allowed;
    }

    &.filterButton {
        background-color: $primary-blue-color1;
        border-color: $primary-blue-color1;
        color: #fff;
    }
}

table {
    color: $primary-darkgreen-color1;
    text-align: center;
    font-size: 14px;
}

label,
.customDropdown {
    font-size: 14px;
    box-shadow: none;
    background: transparent;
    margin: 0 10% 0 0;
    width: 90%;
    text-align: center;
    font-family: $poppinsMedium;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.collon {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.ant-divider {
    margin: 24px 0 0 0;
}

.error {
    border: 1px solid red;

    &:focus,
    &:hover,
    &:active {
        border: 1px solid red;
    }
}