$max-width: 1920px;

$primary-bg-color: #E5E5E5;
$secondary-bg-color: #fff;
$primary-color: #40c706;

$primary-green-color: #009F5C;
$primary-green-color1: #2EB079;
$primary-green-color2: #5CC197;
$primary-green-color3: #A2DCC3;
$primary-green-color4: #D0EDE1;

$primary-grey-color: #39393A;
$poppinsRegular: "poppins-regular";
$poppinsBold: "poppins-bold";
$poppinsMedium: "poppins-medium";

$base-font-size: 16pt;
$font-size-heading1: 14pt;

$max-xs: "only screen and (max-width : 575px)";
$max-sm: "only screen and (max-width : 768px)";
$max-md: "only screen and (max-width : 991px)";
$max-md-1078: "only screen and (max-width : 1078px)";
$max-md-1258: "only screen and (max-width : 1258px)";